body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
    font-size: 8em;
    margin-bottom: 20px;
}

.container {
    position: absolute; 
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%);

    .inner {
        text-align: center;

    }
}